@import url(../../assets/bootstrap/css/bootstrap.min.css);
@import url(../../assets/fontawesome/css/all.min.css);
@import url(https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css);

:root {
  --jws-brown : #6E481E;
  --jws-lightbrown : #9a5910;
}

p, h2, h4, h5 {
  margin: 0 !important;
}

.modal {
  padding: 1rem !important;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* For smaller screen between 0 to 500*/

@media only screen and (max-width: 500px) {
  /* Search Form for Mobile */
  #searchForm {
    display: flex;
    flex-direction: row;
  }
  
  #searchForm > input, button {
    padding: 0.5rem;
    border: none;
    outline: none;
  }
  
  #searchForm > button {
    background-color: #9a5910;
    color: #fff;
    width: 40px;
  }
  
  #searchForm > input {
    font-size: 12px;
    width: 100%;
    background-color: #eff0f5;
  }
}

/* For bigger screen above */
@media only screen and (min-width: 500px) {
  #searchForm {
    display: flex;
    flex-direction: row;
    width: 40%;
  }
  
  #searchForm > input, button {
    padding: 0.5rem;
    border: none;
    outline: none;
  }
  
  #searchForm > button {
    background-color: #9a5910;
    color: #fff;
    width: 40px;
  }
  
  #searchForm > input {
    font-size: 12px;
    width: 100%;
    background-color: #eff0f5;
  }
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  display: grid;
  place-items: center;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
}

.offer-section {
  background-color: #4a2800;
  padding-bottom: 1rem;
}

.offer-section > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.5rem;
}

section > div {
  align-self: center;
  width: 1000px;
}

.bordered {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action > a {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: grid;
  transition: 0.25s;
  place-items: center;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}

.action > a > img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}

.action > div > a > img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}

.action > a:hover {
  color: #3c3c3c !important;
  background-color: rgb(234, 234, 234);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: grid;
  align-self: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 